.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0A3161 #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0A3161;
  border-radius: 5px;
  border: 1px solid #002868;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #002868;
  border: 1px solid #001a4d;
}