.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3C3B6E #FFFFFF;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3C3B6E;
  border-radius: 5px;
  border: 1px solid #3C3B6E;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #3C3B6E;
  border: 1px solid #3C3B6E;
}